/* Style for cartItem in cart page */
.item {
    padding: 1.25rem 0;
    border-top: 1px solid var(--c-light-gray2);
}

.namePrice {
    composes: product__title from "../../general/styles/general.module.scss";
}

.brand {
    composes: product__titleBrand from "../../general/styles/general.module.scss";
}

.name {
    composes: product__titleName from "../../general/styles/general.module.scss";
}

.priceContainer {
    padding: 1.625rem 0;
}

.button {
    --t: 1px; /* Thickness */
    --l: 45px; /* size of the symbol */
    --s: 15px; /* space around the symbol */
    --c1: var(--c-black); /* Plus color*/
    --c2: var(--c-white); /* background color*/
}

.countItems {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.image {
    width: 8.813rem;
    min-height: 11.563rem;
    margin-left: 0.75rem;
}
