// Style for cartItems in Minicart
.item {
    margin-bottom: 2.5rem;
}

.namePrice {
    font-weight: 300;
    line-height: 1.6em;
}

.brand {
    margin-bottom: 0.313rem;
}

.name {
    margin-bottom: 0.313rem;
}

.price {
    font-weight: 500;
}

.button {
    --t: 1px; /* Thickness */
    --l: 25px; /* size of the symbol */
    --s: 8px; /* space around the symbol */
    --c1: var(--c-black); /* Plus color*/
    --c2: var(--c-white); /* background color*/
}

.countItems {
    grid-area: 1 / 2 / span 3 / span 1;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    line-height: 1.6rem;
}

.image {
    width: 6.563rem;
    min-height: 8.563rem;
    margin-left: 0.625rem;
}
