.item {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
        "namePrice addItem image"
        "namePrice ....... image"
        "attributes removeItem image";
}

.attributes {
    grid-area: attributes;
    align-self: end;
}

.addItem {
    grid-area: addItem;
    align-self: start;
    background: linear-gradient(var(--c1), var(--c1)) content-box,
        linear-gradient(var(--c1), var(--c1)) content-box, var(--c2);
}

.removeItem {
    grid-area: removeItem;
    align-self: end;
    background: linear-gradient(var(--c1), var(--c1)) content-box, var(--c2);
}

.button {
    border: 1px solid var(--c-black);

    width: var(--l);
    height: var(--l);
    padding: var(--s);

    display: inline-block;
    box-sizing: border-box; /*Remove this if you don't want space to be included in the size*/

    background-position: center;
    background-size: 100% var(--t), var(--t) 100%;
    background-repeat: no-repeat;
}

.countItems {
    grid-area: 1 / 2 / span 3 / span 1;
    align-self: center;
    justify-self: center;
}

.image {
    grid-area: image;
    height: 100%;

    > img {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        object-fit: cover;
    }
}

.helperImage {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
