.currencyContainer {
    height: 100%;
    position: relative;
}

.currency {
    margin-right: 0.625rem;
    font-weight: 500;
    font-size: 1.125em;
}

.currencyButton {
    height: 100%;
    padding: 0 0.688rem;
}

.arrowUp {
    $angle: 180deg;
    -webkit-transform: rotate($angle);
    -moz-transform: rotate($angle);
    -ms-transform: rotate($angle);
    -o-transform: rotate($angle);
    transform: rotate($angle);
}
