.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    padding: 0 7%;
    min-height: 4.875em;
    background: var(--c-white);
}

.headerLogoButton {
    margin: 1.5em auto 0.813em auto;
}
