.category {
    padding: 1.75em 1rem 1.875em 1rem;
    line-height: 1.2rem;
    cursor: pointer;
}

.category:hover, .selected {
    color: var(--c-primary);
    border-bottom: 2px solid var(--c-primary);
    margin-bottom: -2px;
    font-weight: 600;
}