.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    min-height: 4.875em;
    background: var(--c-white);
}

.headerLogo {
    margin: 1.5em auto 0.813em auto;
    cursor: pointer;
}