.cartContainer {
    height: 100%;
    position: relative;
}

.cartButton {
    height: 100%;
    padding: 0 0.688rem;
}

.cartLogo {
    vertical-align: middle;
}

.minicart {
    position: absolute;
    top: 100%;
    right: -0.875rem;
    min-width: 20.313rem;
    padding: 0.5rem 1rem 1.25rem 1rem;
    background-color: white;
    z-index: 10;
}

.itemsCounter {
    margin-bottom: 1.438rem;
    font-weight: 500;
    line-height: 1.6em;
}

.itemsCounterBold {
    font-weight: 700;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 2.625rem 0 2.188rem 0;
}

.totalText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.125em;
}

.totalValue {
    font-weight: 700;
    line-height: 1.6em;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.875em;
    line-height: 1.2em;
}

.viewButton {
    padding: 0.929em 2.25rem;
    border: 1px solid var(--c-black);
}

.checkOutButton {
    padding: 0.929em 1.844rem;
    color: var(--c-white);
    background-color: var(--c-primary);
}