.pdpContainer {
    display: flex;
    margin: 5rem 15.2% 4.5rem 7%;
}

.imagePicker {
    width: 7.13%;
    > button {
        margin-bottom: 2.5rem;
    }
}

.mainImageContainer {
    width: 54.41%;
    height: 31.938rem;
    margin-left: 3.57%;
}
