.productCard {
    padding: 1rem;
    font-size: 1.125em;
    max-width: 24.125rem;
}

.productImageContainer {
    position: relative;
    width: 22.125rem;
    height: 20.625rem;
}

.productImage {
    width: 22.125rem;
    max-height: 20.625rem;
    object-fit: cover;
}

.productImageOutOfStock {
    opacity: 0.4;
}

.outOfStockText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6em;
    color: var(--c-light-gray3);
}

.productTitle {
    margin-top: 1.5rem;
    font-weight: 300;
}

.link:hover {
    text-decoration: underline;
}

.price {
    font-weight: 500;
}

.productCard:hover {
    box-shadow: 0px 4px 35px hsla(210, 5%, 67%, 0.19);
    & .circle {
        visibility: visible;
    }
}

.circle {
    position: absolute;
    top: calc(100% - 1.625rem);
    right: 0;
    margin: 0 0.938rem 0 auto;
    padding: 0.875rem;
    width: 3.25rem;
    height: 3.25rem;
    visibility: hidden;
    background: var(--c-primary);
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    > img {
        filter: brightness(0) invert(1);
    }
    &:hover {
        box-shadow: 0px 4px 35px hsl(210, 5%, 67%);
    }
}
